span.publi-data{
  background-color: blue;
  color: chartreuse;
  font-weight: bold;
}
span.publi-date{
  background-color: pink;
  color: chartreuse;
  font-weight: bold;
}
span.publi-location{
  background-color: pink;
  color: red;
  font-weight: bold;
}
span.question{
  background-color: black;
  color: yellow;
  font-weight: bold;
}
span.publi-hightlight{
  background-color: yellow;
}